.navbar1{
    /* border: 1px solid green; */
    height: 9vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 1%;
    gap: 10px;
}
.logo h3{
    width: 131.76px;
    height: 14.16px;
    color: #EB6D20;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 760px;
    height: 48px;
    background: #FFFFFF;
    padding: 6px 8px 4px 8px;
    gap: 16px;
    border-radius: 50px;
}
.category button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    width: 154px;
    height: 32px;
    background: #F5F6F8;
    color: #3E3E3E;
    border-radius: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    cursor: pointer;
}
.input input{
    width: 530px;
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9A9A9A;
    flex: none;
    order: 1;
    flex-grow: 1;
    border: none;
}
.icon .img{
    background: url('../../images/search.png') center no-repeat;
    background-size: 120%;
    width: 16px;
    height: 16px;
}
.help button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    gap: 10px;
    border: none;
    color: #FFFFFF;
    width: 88px;
    height: 48px;
    background: #EB6D20;
    border-radius: 50px;
    cursor: pointer;
}
.account{
    display: flex;
    /* border: 1px solid blue; */
    height: 3rem;
    gap: 5%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.account .user{
    background: url('../../images/User.png') center no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;

}
.account h4{
    width: 59px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3E3E3E;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.shopping{
    display: flex;
    /* border: 1px solid blue; */
    height: 3rem;
    gap: 5%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.shopping .shop{
    background: url('../../images/Bag_alt.png') center no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;

}
.shopping h4{
    width: 59px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3E3E3E;
    flex: none;
    order: 1;
    flex-grow: 0;
}


/* android screen */
@media only screen and (max-width: 400px) {
    .navbar1{
        /* border: 1px solid green; */
        height: 9vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 1%;
        gap: 10px;
    }
}
/* tablet screen */
@media only screen and (max-width: 800px) {
    .navbar1{
        /* border: 1px solid green; */
        height: 9vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-top: 1%;
        gap: 10px;
    }
}