/* *{
  padding: 0;
  margin: 0;
} */
body{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
section{
  width: 80%;
  height: 30vh;
  /* border: 1px solid red; */
  margin: 0 10%;
  overflow: hidden;
  /* background: url('./images/Rectangle\ 49.png'); */
}
button{
  border: none;
  background: none;
}